.space-full {
  width: 100%;
}

.react-filter {
  &-inner {
    padding-right: 116px;
  }

  &-divider {
    margin: 5px auto;
  }

  &-item {
    line-height: 32px;
  }

  &-item-label {
    font-size: 14px;
  }

  &-item-children {
    display: flex;
  }

  &-search-button {
    position: relative;

    .inner {
      position: relative;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border-radius: 3px;
      padding: 4px 4px 4px 60px;
      box-sizing: content-box;
      transform: translate(-3px, -3px);
      transition: box-shadow 300ms, background 300ms;
    }

    &.is-active {
      z-index: 1;

      .inner {
        z-index: 1;
      }

      &:before {
        pointer-events: auto;
        box-shadow: 2px 3px 10px 4px rgba(0, 0, 0, 0.2);
        background: #FFFFFF;
      }
    }
  }

  &-search-confirm {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(100%, -50%);
  }

  &-switch-btn {
    margin-top: -32px;
  }

  &-selected {
    width: 100%;
  }
}
